body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #34A65F 0%, #0F8A5F 100%);
    overflow: hidden;
    color: white;
    font-family: 'Inter';

  
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    z-index:1; 
    border: 2.5px dashed #b10a0a;
}

.circle-wrapper:active .circle {
  animation: spin 2s linear infinite;
}

.circle {
  animation: spin 10s linear infinite;

}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}


h1{
    font-family: 'Cormorant', serif;
    font-size: 50px;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.container { 
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
height: 100vh; 
}


.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin-top: 50%;
}



.images img:first-child {
    position: absolute;
    right: 50%;
    z-index: 2;
}


.images img:nth-child(2) {
    position: absolute;
    left: 33%;
    z-index: 1;
}


.images img:nth-child(3){
    position: absolute;
    left: 50%;
    z-index: 3;
    
}

@keyframes tiltSarah {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(5deg);
    }

}

@keyframes tiltAmy {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-5deg);
    }
}

@keyframes tiltLurie {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(5deg);
    }
}


.sarah.startTilt {
    animation: tiltSarah 1s infinite;
}

.amy.startTilt {
    animation: tiltAmy 1s infinite alternate;
}

.lurie.startTilt {
    animation: tiltLurie 1s infinite;
}

.lurie, 
.sarah, 
.amy{
    width: 33%;
}

