body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #34A65F 0%, #0F8A5F 100%);
    overflow: hidden;
    color: white;
    font-family: 'Inter';

  
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-flow: column;
}



h1{
    margin-top: 30%;
    font-family: 'Cormorant', serif;
    font-size: 50px;
    text-align: center;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.container { 
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
height: 100vh; 
}


.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin-top: 10%;
}



.images .sarah {
    position: absolute;
    right: 50%;
    z-index: 2;
}


.images .amy {
    position: absolute;
    left: 33%;
    z-index: 1;
}


.images .lurie{
    position: absolute;
    left: 50%;
    z-index: 3;
    
}






@keyframes tiltSarah {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(5deg);
    }

}

@keyframes tiltAmy {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-5deg);
    }
}

@keyframes tiltLurie {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(5deg);
    }
}


.sarah.startTilt {
    animation: tiltSarah 1s infinite;
}

.amy.startTilt {
    animation: tiltAmy 1s infinite;
}

.lurie.startTilt {
    animation: tiltLurie 1s infinite;
}

.drink.startTilt{
    animation: tiltDrink 1s infinite;

}

.lurie, 
.sarah, 
.amy{
    width: 33%;
}

.drink{
    width: 30%;
    margin-top: 20%;
}

@media screen and (min-width: 500px) {
    h1{ 
    margin-top: 30%;
    }
}